
{{!-- Unordered list One; burgers that are not devoured --}}
    <h2>burgers that are not devoured!</h2>
    
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
            <p>
                 {{this.burger_name}}{{> burgers/burgers-block devour=false}}
                {{!-- {{this.burger_name}}{{this.devoured}} --}}
            </p>
        </li>
       
       {{/unless}}
           
        {{/each}}
    </ul>
{{!-- Unordered List Two; burgers that are devoured --}}
    <h2>burgers that are devoured!</h2>

    <ul>
        {{#each burgers}}
            {{#if devoured}}
               {{this.burger_name}}{{this.devoured}}
            {{/if}}
        {{/each}}
    </ul>

<!-- creating a text Area for the user to type in a burger Name -->
<h2> Burger Name </h2>
<form id='createaburger' class = 'button-size'>
    <textarea type='text' name='burgername' ></textarea>
    <button type="submit">Create a Burger</button>
</form>

<script type="text/javascript">
$('#createaburger').on('submit', function(){
    event.preventDefault();
    var newBurger = {
      name: $("#createaburger [name=burgername]").val().trim()
    }
    console.log(newBurger.name);
    $.post('/burger', newBurger).done(function(data){
        console.log(data);
        alert('Adding burger');
        location.reload();
    });
});
</script>
